<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="cn.liangxh.excercisereminder" version="1.0.5">
  <name>运动提醒</name>
  <description>当手机静止放在桌面上超过一定时间后发出提醒。</description>
  <author href="" email="liangxinhui@qq.com">liang_xinhui</author>
  <content src="index.html"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <icon src="icon.png"/>
  <access origin="*"/>
  <gap:platform name="android" />
</widget>
