<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="cn.liangxh.excercisereminder" version="1.0.5">
  <name>运动提醒</name>
  <description>当手机静止放在桌面上超过一定时间后发出提醒。</description>
  <author href="" email="liangxinhui@qq.com">liang_xinhui</author> 
  <preference name="permissions" value="none"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="AndroidLaunchMode" value="singleInstance"/>
  <preference name="Orientation" value="portrait" />
  <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
  <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
  <gap:platform name="android" />
  <icon src="icon.png"/>
</widget>
